/*
 * Main file to build the datebook's app CSS file, embed Foundation5
 */
@import "foundation";

/* Webfont Icons */
$icomoonPath:   "../fonts" !default;
@font-face {
  font-family: 'datebook';
  src:url('#{$icomoonPath}/datebook.eot');
  src:url('#{$icomoonPath}/datebook.eot?#iefix') format('embedded-opentype'),
  url('#{$icomoonPath}/datebook.ttf') format('truetype'),
  url('#{$icomoonPath}/datebook.woff') format('woff'),
  url('#{$icomoonPath}/datebook.svg#datebook') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'datebook';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import "components/datebook_webfont";


@import "components/jquery.timepicker";
@import "components/addons";
@import "components/pikaday";
@import "components/datebook";
