@import "compass/css3";

.hide-label{
    &>label,
    &>.holder > label{
        display:none;
    }
}

// For Day entry form
#datebook-dayentry-form{
    #div_id_vacation{
        text-align: right;
    }
    
    div.row{
        padding-left: 0;
        padding-right: 0;
    
        & + div.row,
        & + div.buttonHolder{
            border-top: 1px solid #d0d0d0;
            margin-top: 15px;
            padding-top: 15px;
        }
    }
}

/*
 * Calendar styles
 * 
 * For browser with Flexbox support (determined with modernizr) and only on large-up screen sizes
 * Else fallback on the "flat view"
 */
// For small and medium only
.button-group.gregarious{
    display: none;
}

.datebook-month {
    .head {
        display: none;
    }
    .week {
        padding: rem-calc(10px) 0;
        
        .weekno{
            .label{
                display: block;
                margin-bottom: rem-calc(10px);
                font-size: rem-calc(14px);
                font-weight: 600;
                line-height: inherit;
                white-space: normal;
            }
        }
        
        .item{
            position: relative;
            
            h3{
                padding: rem-calc(10px) rem-calc(5px);
                font-size: rem-calc(18px);
                text-align: center;
                background-color: lighten($secondary-color, 5%);
                border-bottom: 4px solid darken(lighten($secondary-color, 5%), 10%);
            }
            
            &.current{
                background-color: lighten($primary-color, 45%);
                h3{
                    border-bottom: 4px solid lighten($primary-color, 20%);
                    background-color: lighten($primary-color, 45%);
                }
            }
            
            .working-hour{
                font-weight: 600;
                
                span{
                    margin-left: 10px;
                    //display: none;
                }
                
                /*&:hover span{
                    display: inline;
                }*/
            }
            
            .time-infos{
                margin: 0 0 5px 0;
                
                &>li{
                    margin: 0;
                    
                    &+li{
                        margin-left: 5px;
                    }
                }
            }
            
            .vacation-label,
            .empty{
                margin: 0;
                padding: rem-calc(25px) rem-calc(5px);
                color: darken($secondary-color, 20%);
                text-align: center;
            }
            .vacation-label{
                color: inherit;
            }
            
            .menu{
                display: none;
            }
            
            &.has-entry{
                .menu{
                    display: block;
                    text-align: right;
                    margin-bottom: rem-calc(20px);
                    
                    .action{
                        &::before{
                            margin-right: 5px;
                            content: attr(title);
                            text-decoration: underline;
                        }
                        
                        &.read{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


/*
 * Overlay with a checkbox to select days to fill them with a "daymodel"
 */
.daymodel-choose-overlay{
    $backcolor: rgba(70,70,70,.8);
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(60,60,60,.8);
    text-align: center;
    display: flex;
    
    .inner{
        flex: 1;
        align-self: center;
        text-align: center;
        
        p{
            margin: 0;
            padding: 0;
            font-size: rem-calc(18px);
            font-weight: bold;
            color: white;
            
            &.checkbox-action i{
                font-size: rem-calc(30px);
                
                &.checked{
                    display: none;
                }
            }
        }
    }
    
    &:hover{
        background-color: lighten($backcolor, 5%);
    }
    
    &.checked{
        background-color: lighten($backcolor, 5%);
        
        .inner{
            p{
                color: $success-color;
                
                &.checkbox-action i{
                    &.unchecked{
                        display: none;
                    }
                    &.checked{
                        display: inline;
                    }
                }
            }
        }
    }
}


// For large and up
html.flexbox{

    // Grid using flexbox
    .datebook-calendar-year{
        display: flex;
        flex-wrap: wrap;
        
        .flex-column{
            display: flex;
            flex-wrap: wrap;
            flex: 1 0 48%;
            justify-content: center;
            align-items: center;
            margin: rem-calc(5px) 1%;
            background-color: lighten($secondary-color, 5%);
            border: 1px solid darken($secondary-color, 5%);
            
            &.current{
                background-color: lighten($primary-color, 2%);
                border: 1px solid darken($primary-color, 5%);
                h3{
                    color: #ffffff;
                }
            }
            
            &>.inner{
                flex: 1 0 100%;
                padding: rem-calc(25px) rem-calc(5px);
                
                &>*:first-child{
                    line-height: 1;
                    margin-top: 0;
                    margin-bottom: rem-calc(10px);
                }
                &>*:last-child{
                    margin-bottom: 0;
                }
                
                .button{
                    width: 80%;
                    margin: 0;
                    padding: rem-calc(10px) rem-calc(8px);
                }
                
                .empty{
                    width: 80%;
                    display: inline-block;
                    padding: rem-calc(10px) rem-calc(8px);
                    background-color: $secondary-color;
                    color: darken($secondary-color, 20%);
                }
            }
        }
    }
    
    @media #{$large-up} {
        .button-group.gregarious{
            display: block;
            
            .button{
                font-size: rem-calc(16px);
            }
        }
        
        // Grid using flexbox
        .datebook-calendar-year{
            .flex-column{
                flex: 1 0 23%;
                margin: rem-calc(10px) 1%;
                
                &>.inner{
                    padding: rem-calc(25px) rem-calc(10px);
                    
                    &>*:first-child{
                        margin-bottom: rem-calc(15px);
                    }
                    
                    .button{
                        width: 60%;
                        padding: rem-calc(16px);
                    }
                    
                    .empty{
                        width: 60%;
                        padding: rem-calc(16px);
                    }
                }
            }
        }

        
        /* Calendar 100% height */
        .datebook-month.calendar {
            font-size: rem-calc(12px);
            
            .head{
                display: flex;
                flex: rem-calc(30px) 0 0;
                font-size: rem-calc(14px);
                font-weight: 600;
                margin-bottom: rem-calc(5px);
                
                &>span{
                    width: 100%;
                    margin-left: rem-calc(1px);
                    margin-right: rem-calc(6px);
                    color: #333;
                    border-bottom: 4px solid rgba(55,55,55,0.5);
                    padding: 0 rem-calc(10px) rem-calc(5px) 0;
                    text-align: right;
                    text-transform: uppercase;
                    
                    &.weekno{
                        display: none;
                    }
                }
            }
            
            .week{
                display: flex;
                flex: rem-calc(30px) 1 0;
                margin-bottom: rem-calc(5px);
                padding: 0;
                
                &>.item{
                    width: 100%;
                    margin-right: rem-calc(6px);
                    color: #333;
                    padding: rem-calc(4px);
                    height: rem-calc(120px);
                    overflow: hidden;
                    border: 1px solid #ccc;
                    background-color: #ffffff;
                    
                    h3, .empty{
                        display: none;
                    }
                    p{
                        font-size: inherit;
                    }
            
                    &.current{
                        border: 1px solid lighten($primary-color, 10%);
                        background-color: lighten($primary-color, 45%);
                    }
            
                    .working-hour{
                        margin-bottom: rem-calc(5px);
                    }
                    .vacation-label{
                        font-style: italic;
                    }
                    
                    /* Include date number from attribute */
                    &::after{
                        content: attr(data-date);
                        display: block;
                        position: absolute;
                        top: 0;
                        right: rem-calc(4px);
                        color: $primary-color;
                    }
                    
                    /* Month day action menu */
                    .menu{
                        display: block;
                        margin: 0;
                        padding: rem-calc(6px) rem-calc(6px) rem-calc(6px) rem-calc(8px);
                        position: absolute;
                        bottom: rem-calc(4px);
                        right: rem-calc(4px);
                        font-size: rem-calc(15px);
                        line-height: 1;
                        text-align: center;
                        background-color: #ffffff;
                        border: 1px solid #e0e0e0;
                        @include border-radius(2px);
                        
                        a+a{
                            margin-left: 15px;
                        }
                        .action{
                            &::before{
                                margin-right: 0;
                                content: none;
                                text-decoration: none;
                            }
                            &.read{
                                display: inline;
                            }
                        }
                    }
                    /*&:hover{
                        .menu{
                            display: block;
                        }
                    }*/
                    
                    &.weekno{
                        display: none;
                    }
                    
                    &.vacation{
                        display: flex;
                        
                        &>.container{
                            flex: 1;
                            align-self: center;
                            text-align: center;
                            color: #a0a0a0;
                        }
                    }
                }
            }

            /* Weekends */
            .week>.sat,
            .week>.sun{
                background: #f3f3f3;
            }
            .head>span:last-child,
            .week>.item:last-child{
                margin-right: 0;
            }

        }

    }
}

/*
 * Modal view for day's detail read
 */
#revealDayModal{
    bottom: 100px;
    overflow: auto;
    
    .modal-navigation-day{
        position: absolute;
        top: 0;
        
        &.previous{
            left: 0;
        }
        
        &.next{
            right: 0;
        }
    }
}

/*
 * A specific div that contain a switch field with a label
 */
.switch-cell{
    margin-bottom: rem-calc($rem-base);
    
    .switch > label,
    .label{
        margin-bottom: 0;
    }
}