/* line 4, ../../scss/datebook/frontend.scss */
.datebook-calendar-month {
  width: 100%;
  font-size: 12px;
  border: 0;
  border-collapse: separate;
  border-spacing: 5px;
}
/* line 15, ../../scss/datebook/frontend.scss */
.datebook-calendar-month th {
  padding: 9px;
  font-size: 16px;
  text-transform: capitalize;
  border-bottom: 4px solid #dedede;
}
/* line 22, ../../scss/datebook/frontend.scss */
.datebook-calendar-month th.sat, .datebook-calendar-month th.sun {
  border-bottom: 4px solid #c5c5c5;
}
/* line 30, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr
tbody tr.even,
.datebook-calendar-month tbody tr.alt,
.datebook-calendar-month tbody tr:nth-child(even) {
  background: transparent;
}
/* line 34, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr td {
  width: 14.28571%;
  height: 135px;
  color: #333;
  padding: 7px 8px;
  vertical-align: top;
  border: 1px solid #dedede;
  background: white;
}
/* line 45, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr td.sat, .datebook-calendar-month tbody tr td.sun {
  border: 1px solid #d1d1d1;
  background: #f2f2f2;
}
/* line 50, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr td.noday {
  border: 1px solid transparent !important;
  background: transparent !important;
}
/* line 55, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr td .container {
  position: relative;
}
/* line 58, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr td .container .daylabel {
  display: block;
  width: 16px;
  height: 16px;
  padding: 2px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  background: #2ba6cb;
}
/* line 74, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr.even td,
.datebook-calendar-month tbody tr.alt td,
.datebook-calendar-month tbody tr:nth-child(even) td {
  background: #f9f9f9;
}
/* line 78, ../../scss/datebook/frontend.scss */
.datebook-calendar-month tbody tr.even td.sat, .datebook-calendar-month tbody tr.even td.sun,
.datebook-calendar-month tbody tr.alt td.sat,
.datebook-calendar-month tbody tr.alt td.sun,
.datebook-calendar-month tbody tr:nth-child(even) td.sat,
.datebook-calendar-month tbody tr:nth-child(even) td.sun {
  border: 1px solid #d0d0d0;
  background: #ececec;
}

/* line 86, ../../scss/datebook/frontend.scss */
.datebook-calendar-month-week {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 91, ../../scss/datebook/frontend.scss */
.datebook-calendar-month-week li.item {
  margin: 0;
  padding: 10px 7px;
}
/* line 95, ../../scss/datebook/frontend.scss */
.datebook-calendar-month-week li.item + li.item {
  border-top: 1px solid black;
}
