{% extends "base_fixed.html" %}
{% load autobreadcrumb %}{% load url from future %}

{% block head_title %}{% current_title_from_breadcrumbs %}{% endblock %}

{% block head_more_links %}
    {% include "datebook/include_css.html" %}
{% endblock %}

{% block content %}<h2>{% current_title_from_breadcrumbs %}</h2>

<div class="datebook-calendar-year">{% for name, datebook in datebooks_map %}
    <div class="panel radius three columns{% if not datebook %} empty{% endif %}">
        <h3>{{ name|capfirst }}<h3>
        {% if datebook %}
        <p><a href="{{ datebook.get_absolute_url }}">{{ datebook }}</a></p>
        {% endif %}
    </div>
{% endfor %}</div>
{% endblock %}