{% extends "datebook/subbase.html" %}
{% load autobreadcrumb i18n %}{% load url from future %}

{% block content %}<h2>{% current_title_from_breadcrumbs %}</h2>

<ul class="datebook-calendar-month-week">{% for datekey, entry in weekdays %}
    <li class="item">
        <h3>{{ datekey|date:"d - l" }}</h3>
        <div class="container{% if not entry %} empty{% endif %}">
        {% if entry %}
            <p class="working-hour">{{ entry.get_working_hours }}</p>
            <div class="content">{{ entry.content }}</div>
            <p class="length">{{ entry.get_elapsed_time }}</p>
            <p><a href="{% url 'datebook-author-day-edit' author=author year=datebook.period.year month=datebook.period.month day=datekey|date:"d" %}" class="button round secondary">{% trans 'Edit' %}</a></p>
        {% else %}
            <p><a href="{% url 'datebook-author-day-add' author=author year=datebook.period.year month=datebook.period.month day=datekey|date:"d" %}" class="button round secondary">{% trans 'Add' %}</a></p>
        {% endif %}
        </div>
    </li>
{% endfor %}</ul>
{% endblock %}